{% extends 'base.html' %}

    {% block body %}
    <form method="POST" class="register-form">
        <div class="box">
            <h2>Agent Registration</h2>
            <h4 style="text-align: center;">Want to become an agent? Please register</h4>
            <div class="row">
              <div class="col-25">
                <label for="email">email</label>
              </div>
              <div class="col-75">
                <input type="email" id="email" name="email" placeholder="Enter your email" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="uname">Username</label>
              </div>
              <div class="col-75">
                <input type="text" id="uname" name="username" placeholder="Enter your name" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="pwd">Password</label>
              </div>
              <div class="col-75">
                <input type="password" id="pwd" name="password" placeholder="Enter your password" required="">
              </div>
            </div>
            <div class="msg">{{ msg }}</div>
            <div class="row">
                <input type="submit" value="Register">
            </div>
            <br>
            <div class="note mt-3 text-center"> <!--Register form -->
              <p> After Registration, please wait for the Admin to approve and assign you to a Customer. </p>
            </div>
        </div>
    </form>
    {% endblock %}